:root {
	--gradient: linear-gradient(
		to right,
		hsl(6, 100%, 80%),
		hsl(335, 100%, 65%)
	);

	--blue-200: hsl(243, 100%, 93%);
	--blue-850: hsl(228, 56%, 26%);
	--blue-950: hsl(229, 57%, 11%);
	--blue-gray: hsl(229, 7%, 55%);
	--white: white;

	--font-family: "Raleway", sans-serif;

	--fs-12: 0.75rem;
	--fs-14: 0.875rem;
	--fs-40: 2.5rem;

	--sp-3: 0.1875rem;
	--sp-8: 0.5rem;
	--sp-10: 0.625rem;
	--sp-12: 0.75rem;
	--sp-14: 0.875rem;
	--sp-16: 1rem;
	--sp-18: 1.125rem;
	--sp-20: 1.25rem;
	--sp-24: 1.5rem;
	--sp-32: 2rem;
	--sp-36: 2.25rem;
	--sp-42: 2.625rem;

	--rad-8: 0.5rem;
	--rad-12: 0.75rem;

	--bar-24: 1.5rem;
	--bar-18: 1.125rem;
	--bar-14: 0.875rem;
}

.color-gray {
	color: var(--blue-gray);
}

.color-light {
	color: var(--blue-200);
}

body,
p,
h1,
h2,
h3,
ul,
a,
blockquote,
summary {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-family);
	font-size: var(--fs-12);
	background-image: url("../images/bg-mobile.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100svh;
	display: grid;
	grid-template-rows: 95% 5%;
	text-align: center;
}

@media (min-width: 375px) {
	body {
		font-size: var(--fs-14);
	}
}

img {
	display: block;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
}

ul {
	list-style: none;
}

.container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: var(--sp-16);
}

.visually-hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	white-space: nowrap;
	border: 0;
}

/* Section Actions */

.actions {
	background: var(--blue-850);
	padding: var(--sp-42) var(--sp-36);
	margin-top: auto;
	margin-inline: var(--sp-20);
	border-radius: 12px 96px 12px 12px;
	display: grid;
	gap: var(--sp-32);
}

.actions__list {
	display: flex;
	gap: var(--sp-20);
}

.actions__list li {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	width: 48px;
	background: var(--blue-950);
	border-radius: var(--rad-8);
	cursor: pointer;
}

.actions__list li:hover {
	background: var(--blue-200);
}

/* Section Bar */

.bar {
	background: var(--blue-850);
	margin-inline: var(--sp-20);
	padding: var(--sp-36) var(--sp-32);
	border-radius: var(--rad-12);
}

.bar__texto {
	padding-inline: var(--sp-16);
	margin-bottom: var(--sp-8);
}

.bar {
	display: flex;
	flex-direction: column;
	gap: var(--sp-12);
	height: 190px;
}

.bar__bg {
	height: var(--bar-24);
	width: 100%;
	background: var(--blue-950);
	border-radius: calc(var(--bar-24) / 2);
	padding: var(--sp-3);
	display: flex;
}

@keyframes fillBar {
	from {
		width: 0%;
	}
	to {
		width: 81.5%;
	}
}

.bar__bg-bar {
	height: var(--bar-18);
	width: 81.5%;
	background: var(--gradient);
	border-radius: calc(var(--bar-18) / 2);
	position: relative;
	display: flex;
	justify-content: end;
	align-items: center;
	animation: fillBar 0.6s ease-out forwards;
}

.bar__bg-bar::after {
	content: "";
	height: var(--bar-14);
	width: var(--bar-14);
	border-radius: calc(var(--bar-14) / 2);
	background: var(--white);
	position: absolute;
	right: 2px;
}

.bar__parameter {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--sp-16);
}

.bar__storageleft {
	background: var(--white);
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--sp-16) var(--sp-24);
	border-radius: var(--rad-12);
	gap: var(--sp-16);
	transition: transform 0.3s ease-out;
	will-change: transform;
}

.bar__storageleft:hover {
	transform: scale(1.1);
}

.bar__storageleft p {
	color: black;
	font-weight: 700;
	font-size: var(--fs-40);
}

.bar__storageleft span {
	font-weight: 700;
	color: var(--blue-gray);
	font-size: var(--fs-14);
}

/* Desktop */

@media (min-width: 1024px) {
	body {
		background-image: url("../images/bg-desktop.png");
		background-color: var(--blue-950);
		background-position: center bottom;
		background-size: 100% 54%;
	}

	.container {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 2fr 3fr;
		gap: var(--sp-32);
		max-width: 960px;
		margin: auto;
		align-items: end;
	}

	.actions {
		margin: 0;
		width: 350px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	}

	.bar {
		margin: 0;
		text-align: left;
		position: relative;
		height: 165px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	}

	.bar__text {
		padding-inline: 0;
		margin-top: var(--sp-16);
	}

	.bar__parameter {
		margin-bottom: 0;
	}

	.bar__storageleft {
		position: absolute;
		right: 32px;
		top: -38px;
		border-radius: 12px 12px 0 12px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
		transform-origin: bottom right;
	}

	.bar__storageleft::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		bottom: -20px;
		right: 0px;

		border-left: 25px solid transparent;
		border-right: 0px solid transparent;
		border-top: 25px solid var(--white);
	}
}
